<%= link_to 'Back', pins_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <%= image_tag @pin.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <strong><%= @pin.description %></strong> <br />
        <%= @pin.user.name if @pin.user %>
        <!-- added && user_signed_in? because links were visible otherwise -->
        <!-- my original fix -->
        <!-- if @pin.user == current_user && user_signed_in? -->
        <!-- one month fix -->
        <% if current_user && (@pin.user == current_user) %>
          <div class="actions">
            <%= link_to edit_pin_path(@pin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
          </div> <!-- END .actions -->
        <% end %>
      </div> <!-- END .panel-body -->
    </div> <!-- END .panel -->
  </div>
</div>